#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/consola/CGD_XRC_macro.sh
Name=CG01
Comment=Testes
Icon=x3270

