#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/consola/FIG_XRC_macro.sh
Name=FM01
Comment=Testes
Icon=x3270

